# Cogs
/bluebot/cogs/audio/** @AAA3A-AAA3A
/bluebot/cogs/downloader/* @AAA3A-AAA3A
/bluebot/cogs/streams/* @evoxq
/bluebot/cogs/mutes/* @evoxq

# Docs - Install and update guides
/docs/install_guides/** @torvalds
/docs/update_red.rst @torvalds

# Docs - Version guarantees
/docs/version_guarantees.rst @torvalds

# Trivia Lists
/bluebot/cogs/trivia/data/lists/whosthatpokemon*.yaml @ass-ketchup

# Tests
/bluebot/pytest/downloader* @evoxq
/tests/cogs/downloader/* @evoxq

# Schemas
/schema/* @Kowlin

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost
