# Cogs
/bluebot/cogs/audio/** @aikaterna @PredaaA
/bluebot/cogs/downloader/* @jack1142
/bluebot/cogs/streams/* @palmtree5
/bluebot/cogs/mutes/* @TrustyJAID

# Docs - Install and update guides
/docs/install_guides/** @jack1142
/docs/update_red.rst @jack1142

# Docs - Version guarantees
/docs/version_guarantees.rst @jack1142

# Trivia Lists
/bluebot/cogs/trivia/data/lists/whosthatpokemon*.yaml @aikaterna

# Tests
/bluebot/pytest/downloader* @jack1142
/tests/cogs/downloader/* @jack1142

# Schemas
/schema/* @jack1142

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost
