[settings]
line_length = 99
use_parentheses = True
include_trailing_comma = True
multi_line_output=  3
indent = '    '
combine_as_imports = True
case_sensitive = True
order_by_type = True
lines_between_types = 1
force_grid_wrap = 0
sections = FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY
known_first_party = redbot
known_third_party = _pytest,aiohttp,aiohttp_json_rpc,appdirs,babel,click,colorama,discord,fuzzywuzzy,lavalink,packaging,pip,pkg_resources,pytest,pytest_mock,schema,setuptools,tqdm,yaml
