language: python
python:
  - "3.5.2"
install:
  - pip install -r requirements.txt
script:
  - python -m compileall ./red.py
  - python -m compileall ./cogs
  - python ./launcher.py 
cache: pip
notifications:
  email: false
