# Default
*                           @Twentysix26

# Core
core/config.py              @tekulvw
core/drivers/*              @tekulvw
core/sentry_setup.py        @Kowlin @tekulvw

# Cogs
cogs/alias/*                @tekulvw
cogs/downloader/*           @tekulvw
