# include license files
include LICENSE
recursive-include redbot *.LICENSE

# include requirements files
include requirements/base.in
include requirements/base.txt
include requirements/extra-*.in
include requirements/extra-*.txt

# include locale files
recursive-include redbot locales/*.po

# include data folders for cogs
recursive-include redbot/**/data *

# include *.export files from the test fixtures
recursive-include redbot *.export

# include the py.typed file informing about Red being typed
recursive-include redbot py.typed

# include *.sql files from postgres driver
recursive-include redbot/core/drivers/postgres *.sql

# include tests
graft tests

# include tox configuration
include tox.ini

# exclude files containing byte-code and compiled libs
global-exclude *.py[cod]
