# include license files
include LICENSE
recursive-include bluebot *.LICENSE

# include locale files
recursive-include bluebot locales/*.po

# include data folders for cogs
recursive-include bluebot/**/data *

# include *.export files from the test fixtures
recursive-include bluebot *.export

# include the py.typed file informing about Blue being typed
recursive-include bluebot py.typed

# include *.sql files from postgres driver
recursive-include bluebot/core/drivers/postgres *.sql

# include tests
graft tests

# include tox configuration
include tox.ini

# exclude files containing byte-code and compiled libs
global-exclude *.py[cod]
