[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"red-discordbot" = { path = ".", editable = true, extras = ['mongo', 'voice'] }

[dev-packages]
tox = "*"
"red-discordbot" = { path = ".", editable = true, extras = ['docs', 'test', 'style'] }
