-i https://pypi.org/simple
alabaster==0.7.10
attrs==18.1.0
babel==2.5.3
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
idna==2.6
imagesize==1.0.0
jinja2==2.10
markupsafe==1.0
more-itertools==4.1.0
packaging==17.1
pluggy==0.6.0
py==1.5.3
pygments==2.2.0
pyparsing==2.2.0
pytest-asyncio==0.8.0
pytest==3.5.1
pytz==2018.4
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.3.1
sphinx==1.7.4
sphinxcontrib-asyncio==0.2.0
sphinxcontrib-websupport==1.0.1
urllib3==1.22
yarl==0.18.0
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py-1.0
